## Lists

In [1]:
# Cheer-leading python exercise
# Create a variable named cheer
cheer = ["Python", "FinTech","Money"]

# Below strings can be used to add fun
cheer_symbol = "*\O/*"
cheer_symbol_2 = "ヘ( ^o^)ノ＼(^_^ )"

# Loop through string
for i in range(len(cheer)):
    for x in cheer[i]:
        #Print each letter with a cheer
        print("Give me a " + x + "!")
        print(x + "!")

    # Print excitement to screen
    print("\nWhat does that spell?!")
    print(cheer[i] + "!\nWoohoo! Go " + cheer[i] + "!")
    print(cheer_symbol * 3)
    print(cheer_symbol_2)
    print()

Give me a P!
P!
Give me a y!
y!
Give me a t!
t!
Give me a h!
h!
Give me a o!
o!
Give me a n!
n!

What does that spell?!
Python!
Woohoo! Go Python!
*\O/**\O/**\O/*
ヘ( ^o^)ノ＼(^_^ )

Give me a F!
F!
Give me a i!
i!
Give me a n!
n!
Give me a T!
T!
Give me a e!
e!
Give me a c!
c!
Give me a h!
h!

What does that spell?!
FinTech!
Woohoo! Go FinTech!
*\O/**\O/**\O/*
ヘ( ^o^)ノ＼(^_^ )

Give me a M!
M!
Give me a o!
o!
Give me a n!
n!
Give me a e!
e!
Give me a y!
y!

What does that spell?!
Money!
Woohoo! Go Money!
*\O/**\O/**\O/*
ヘ( ^o^)ノ＼(^_^ )

In [58]:
# Create a list of Pokemon
print("Creating a list of Pokemon...")
pokemon = ["Pikachu", "Charizard", "Bulbasaur", "Gyarados", "Dragonite", "Onyx"]
print(pokemon)

Creating a list of Pokemon...
['Pikachu', 'Charizard', 'Bulbasaur', 'Gyarados', 'Dragonite', 'Onyx']

In [70]:
# Print element at index 2
print("Printing the third Pokemon...")
print(pokemon[2])

Printing the third Pokemon...
Bulbasaur Onyx

In [62]:
# Print elements from index 2 to index 5
print("Printing 3rd Pokemon to the 5th Pokemon...")
print(pokemon[2:5])

Printing 3rd Pokemon to the 5th Pokemon...
['Bulbasaur', 'Gyarados', 'Dragonite']

In [63]:
# Print elements from index 3 to the end of the list
print("Printing every Pokemon after the first three...")
print(pokemon[3:])

Printing every Pokemon after the first three...
['Gyarados', 'Dragonite', 'Onyx']

In [64]:
# Print elements from beginning of list to index 3
print("Printing every Pokemon up to the first three...")
print(pokemon[:3])

Printing every Pokemon up to the first three...
['Pikachu', 'Charizard', 'Bulbasaur']

In [65]:
# Print every other element
print("Printing every other Pokemon")
print(pokemon[::2])

Printing every other Pokemon
['Pikachu', 'Bulbasaur', 'Dragonite']

In [66]:
# Print the last element of the list
print("Printing the last Pokemon on the list...")
last_pokemon = pokemon[-1]
print(last_pokemon)

Printing the last Pokemon on the list...
Onyx

In [67]:
# Find the index of the particular element name
print("Determining the order of Pokemon 'Gyarados'...")
print(pokemon)
print(pokemon.index("Gyarados"))

Determining the order of Pokemon 'Gyarados'...
['Pikachu', 'Charizard', 'Bulbasaur', 'Gyarados', 'Dragonite', 'Onyx']
3

In [71]:
# Change a specified element within the list at the given index
print("Changing Pokemon name 'Pikachu' to 'Raichu'...")
pokemon[0] = "Raichu"
print(pokemon)

Changing Pokemon name 'Pikachu' to 'Raichu'...
['Raichu', 'Charizard', 'Bulbasaur', 'Gyarados', 'Dragonite', 'Onyx']

In [72]:
# Add an element to the end of the list
print("Adding a new Pokemon to the end of the list...")
pokemon.append("Magikarp")
print(pokemon)

Adding a new Pokemon to the end of the list...
['Raichu', 'Charizard', 'Bulbasaur', 'Gyarados', 'Dragonite', 'Onyx', 'Magikarp']

In [73]:
# Remove an element from the list based on the given element name
print("Removing employee 'Magikarp'...")
pokemon.remove("Magikarp")
print(pokemon)

Removing employee 'Magikarp'...
['Raichu', 'Charizard', 'Bulbasaur', 'Gyarados', 'Dragonite', 'Onyx']

In [74]:
# Remove an element from the list based on the given index
print("Removing employee 'Bulbasaur' based off of its index")
bulbasaur_index = pokemon.index("Bulbasaur")
pokemon.pop(bulbasaur_index)
print(pokemon)

Removing employee 'Bulbasaur' based off of its index
['Raichu', 'Charizard', 'Gyarados', 'Dragonite', 'Onyx']

In [75]:
# Calculate the number of elements within the list
print("Calculating the number of Pokemon...")
print(len(pokemon))

Calculating the number of Pokemon...
5

## Student Lists

In [16]:
# Create a list of groceries
print("My list of groceries:")
groceries = ["water", "butter", "eggs", "apples", "cinnamon", "sugar", "milk"]
print(groceries)

My list of groceries:
['water', 'butter', 'eggs', 'apples', 'cinnamon', 'sugar', 'milk']

In [17]:
# Find the first two items on the list
print("What are my first two items on the list?")
print(groceries[:2])

What are my first two items on the list?
['water', 'butter']

In [18]:
# Find the last five items on the list
print("What are all my items except for the first two on the list?")
print(groceries[2:])

What are all my items except for the first two on the list?
['eggs', 'apples', 'cinnamon', 'sugar', 'milk']

In [19]:
# Find every other item on the list, starting from the second item
print("What is every other item on the list, starting from the second item?")
print(groceries[1::2])

What is every other item on the list, starting from the second item?
['butter', 'apples', 'sugar']

In [20]:
# Add an element to the end of the list
print("Oops, forgot to add flour...")
groceries.append("flour")
print(groceries)

Oops, forgot to add flour...
['water', 'butter', 'eggs', 'apples', 'cinnamon', 'sugar', 'milk', 'flour']

In [21]:
# Changes a specified element within the list at the given index
print("I should be more specific with what kind of apples I want...")
groceries[3] = "gala apples"
print(groceries)

I should be more specific with what kind of apples I want...
['water', 'butter', 'eggs', 'gala apples', 'cinnamon', 'sugar', 'milk', 'flour']

In [22]:
# Calculate how many items you have in the list
print("How many items do I have on my shopping list?")
print(len(groceries))

How many items do I have on my shopping list?
8

In [23]:
# ----------------------Go to the grocery store---------------------------")
# Find the index of the particular element name
print("Where is 'gala apples' in the list index?")
print(groceries)
print(groceries.index("gala apples"))

Where is 'gala apples' in the list index?
['water', 'butter', 'eggs', 'gala apples', 'cinnamon', 'sugar', 'milk', 'flour']
3

In [24]:
# Remove an element from the list based on the given element name
print("Picked up some sugar!")
groceries.remove("sugar")
print(groceries)

Picked up some sugar!
['water', 'butter', 'eggs', 'gala apples', 'cinnamon', 'milk', 'flour']

In [25]:
# Remove an element from the list based on the given index
print("Actually, I don't need water. I have some at home...")
water_index = groceries.index("water")
groceries.pop(water_index)
print(groceries)

Actually, I don't need water. I have some at home...
['butter', 'eggs', 'gala apples', 'cinnamon', 'milk', 'flour']

In [76]:
# Remove the last element of the list
print("I'm going to pick up the last item on the list...")
groceries.pop(-1)
print(groceries)
print("You continue on your journey purchasing groceries...")

I'm going to pick up the last item on the list...
['butter', 'eggs', 'gala apples', 'cinnamon']
You continue on your journey purchasing groceries...

In [78]:
groceries.append('butter')
groceries

['butter', 'eggs', 'gala apples', 'cinnamon', 'butter']

In [79]:
groceries.remove('butter')
groceries

['eggs', 'gala apples', 'cinnamon', 'butter']

## List Iteration

In [80]:
# Initialize the metric variables
count = 0
total = 0
average = 0
minimum = 0
maximum = 0

# List of daily tips
cash_tips = [22, 10, 30, 45, 54, 60, 56]

# Showcase every tip in the list
for tip in cash_tips:
    print(tip)

22
10
30
45
54
60
56

In [81]:
# Iterate over each element of the list to determine metrics
for tip in cash_tips:

    # Cumulatively sum up the total and count of tips
    total += tip # total = total + tip
    count += 1

    # Logic to determine minimum values
    if minimum == 0:
        minimum = tip
    elif tip < minimum:
        minimum = tip
        
    # Logic to determine maximum values        
    if tip > maximum:
        maximum = tip

# Calculate the average
average = round(total / count, 2)
# Print out the summary statistics
print("---------Summary Statistics----------")
print(f"Number of Days: {count}")
print(f"Total Tips: {total}")
print(f"Daily Average: {average}")
print(f"Least Amount of Tips: {minimum}")
print(f"Maximum Amount of Tips: {maximum}")

---------Summary Statistics----------
Number of Days: 7
Total Tips: 277
Daily Average: 39.57
Least Amount of Tips: 10
Maximum Amount of Tips: 60

In [85]:
min(cash_tips)

10

## Student List Iteration

In [86]:
# Initialize the metric variables
count = 0
total = 0
average = 0
minimum = 0
maximum = 0

# Initialize lists to hold profitable and unprofitable day profits/losses
profitable_days = []
unprofitable_days = []

# List of trading profits/losses
trading_pnl = [ -224,  352, 252, 354, -544,
                -650,   56, 123, -43,  254,
                 325, -123,  47, 321,  123,
                 133, -151, 613, 232, -311 ]

# Iterate over each element of the list
for day_pnl in trading_pnl:

    # Cumulatively sum up the total profits/losses and count of trading days
    total += day_pnl
    count += 1

    # Logic to determine minimum and maximum values
    if minimum == 0:
        minimum = day_pnl
    elif day_pnl < minimum:
        minimum = day_pnl
    elif day_pnl > maximum:
        maximum = day_pnl

    # Logic to determine profitable vs. unprofitable days
    if day_pnl > 0:
        profitable_days.append(day_pnl)
    elif day_pnl <= 0:
        unprofitable_days.append(day_pnl)

# Calculate the average
average = round(total / count, 2)

# Count metrics
profitable_count = len(profitable_days)
unprofitable_count = len(unprofitable_days)

# Percentage metrics
percent_profitable = profitable_count / count * 100
percent_unprofitable = unprofitable_count / count * 100

# Print out the summary statistics
print("---------Summary Statistics----------")
print(f"Number of Total Days: {count}")
print(f"Number of Profitable Days: {profitable_count}")
print(f"Number of Unprofitable Days: {unprofitable_count}")
print(f"Percentage of Profitable Days: {percent_profitable}%")
print(f"Percentage of Unprofitable Days: {percent_unprofitable}%")
print("-------------------------------------")
print(f"Profitable Days: {profitable_days}")
print(f"Unprofitable Days: {unprofitable_days}")
print("-------------------------------------")
print(f"Total Profits/Losses: {total}")
print(f"Daily Average: {average}")
print(f"Worst Loss: {minimum}")
print(f"Best Gain: {maximum}")

---------Summary Statistics----------
Number of Total Days: 20
Number of Profitable Days: 13
Number of Unprofitable Days: 7
Percentage of Profitable Days: 65.0%
Percentage of Unprofitable Days: 35.0%
-------------------------------------
Profitable Days: [352, 252, 354, 56, 123, 254, 325, 47, 321, 123, 133, 613, 232]
Unprofitable Days: [-224, -544, -650, -43, -123, -151, -311]
-------------------------------------
Total Profits/Losses: 1139
Daily Average: 56.95
Worst Loss: -650
Best Gain: 613

## Dictionaries

In [87]:
# Initialize a dictionary containing top traders for each month in 2019
top_traders_2019 = {
    "january" : "Karen",
    "february" : "Harold",
    "march" : "Sam"
}
print(f"Dictionary: {top_traders_2019}")

Dictionary: {'january': 'Karen', 'february': 'Harold', 'march': 'Sam'}

In [88]:
# Initialize a dictionary
trading_pnl = {
    "title": "Trading Log",
    "03-18-2019": -224,
    "03-19-2019": 352,
    "03-20-2019": 252,
    "03-21-2019": 354,
    "03-22-2019": -544,
    "03-23-2019": -650,
    "03-24-2019": 56,
    "03-25-2019": 123,
    "03-26-2019": -43,
    "03-27-2019": 254,
    "03-28-2019": 325,
    "03-29-2019": -123,
    "03-30-2019": 47,
    "03-31-2019": 321,
    "04-01-2019": 123,
    "04-02-2019": 133,
    "04-03-2019": -151,
    "04-04-2019": 613,
    "04-05-2019": 232,
    "04-06-2019": -311
}

# Print out dictionary, initial print() to serve as spacing between command line input
print(f"Dictionary: {trading_pnl}")

Dictionary: {'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311}

In [90]:
trading_pnl['03-31-2019']

321

In [32]:
# Print out specific value of a key
print(f"03-31-2019: {trading_pnl['03-31-2019']}")

03-31-2019: 321

In [92]:
groceries[2] = 'bread'

In [91]:
# Add a new key-value pair
trading_pnl["04-07-2019"] = 413
print(trading_pnl)

{'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311, '04-07-2019': 413}

In [93]:
# Modify a key value
trading_pnl["04-07-2019"] = 542
print(trading_pnl)

{'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311, '04-07-2019': 542}

In [94]:
# Delete a key-value pair
del trading_pnl["04-07-2019"]
print(trading_pnl)

{'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311}

In [36]:
# Check if key exists
if "04-03-2019" in trading_pnl:
    print("Yes, '04-03-2019' is one of the keys in the trading_pnl dictionary")

Yes, '04-03-2019' is one of the keys in the trading_pnl dictionary

In [37]:
# Print out dict keys via a for loop
for key in trading_pnl:
    print(f"Key: {key}")

Key: title
Key: 03-18-2019
Key: 03-19-2019
Key: 03-20-2019
Key: 03-21-2019
Key: 03-22-2019
Key: 03-23-2019
Key: 03-24-2019
Key: 03-25-2019
Key: 03-26-2019
Key: 03-27-2019
Key: 03-28-2019
Key: 03-29-2019
Key: 03-30-2019
Key: 03-31-2019
Key: 04-01-2019
Key: 04-02-2019
Key: 04-03-2019
Key: 04-04-2019
Key: 04-05-2019
Key: 04-06-2019

In [38]:
# Print out dict values
for key in trading_pnl:
    print(f"Value: {trading_pnl[key]}")

Value: Trading Log
Value: -224
Value: 352
Value: 252
Value: 354
Value: -544
Value: -650
Value: 56
Value: 123
Value: -43
Value: 254
Value: 325
Value: -123
Value: 47
Value: 321
Value: 123
Value: 133
Value: -151
Value: 613
Value: 232
Value: -311

In [95]:
# Print out dict key-value pairs
for key, value in trading_pnl.items():
    print(f"Key: {key} Value: {value}")

Key: title Value: Trading Log
Key: 03-18-2019 Value: -224
Key: 03-19-2019 Value: 352
Key: 03-20-2019 Value: 252
Key: 03-21-2019 Value: 354
Key: 03-22-2019 Value: -544
Key: 03-23-2019 Value: -650
Key: 03-24-2019 Value: 56
Key: 03-25-2019 Value: 123
Key: 03-26-2019 Value: -43
Key: 03-27-2019 Value: 254
Key: 03-28-2019 Value: 325
Key: 03-29-2019 Value: -123
Key: 03-30-2019 Value: 47
Key: 03-31-2019 Value: 321
Key: 04-01-2019 Value: 123
Key: 04-02-2019 Value: 133
Key: 04-03-2019 Value: -151
Key: 04-04-2019 Value: 613
Key: 04-05-2019 Value: 232
Key: 04-06-2019 Value: -311

## Student Dictionaries

In [40]:
# Initialize a dictionary of banks and market caps (in billions)
banks = {
    "JP Morgan Chase": 327,
    "Bank of America": 302,
    "Citigroup": 173,
    "Wells Fargo": 273,
    "Goldman Sachs": 87,
    "Morgan Stanley": 72,
    "U.S. Bancorp": 83,
    "TD Bank": 108,
    "PNC Financial Services": 67,
    "Capital One": 47,
    "FNB Corporation": 4,
    "First Hawaiian Bank": 3,
    "Ally Financial": 12,
    "Wachovia": 145,
    "Republic Bancorp": .97
}

# Change the market cap for 'Citigroup'
banks['Citigroup'] = 170

# Add a new bank and market cap pair
banks['American Express'] = 33

# Remove a bank from the dictionary
del banks['Wachovia']

# Initialize metric variables
total_market_cap = 0
bank_count = 0
average = 0

# Initialize minimum key-value pair
minimum_key = ""
minimum_value = 0

# Initialize maximum key-value pair
maximum_key = ""
maximum_value = 0

In [96]:
# Mega Cap: Firms with a market capitalization greater than or equal to $300 billion.
# Large Cap: Firms with a market capitalization greater than or equal to $10 billion and less than $300 billion.
# Mid Cap: A market capitalization greater than or equal to $2 and less than $10 billion.
# Small Cap: A market capitalization greater than or equal to $300 million and less than $2 billion.

# Initialize market cap lists
mega_caps = []
large_caps = []
mid_caps = []
small_caps = []

# Iterate over key-value pairs of the dictionary
for bank_name, market_cap in banks.items():
    print(f"Name: {bank_name} | Market Cap: {market_cap}")

    # Calculate sum of market caps and number of banks in the dictionary
    total_market_cap += int(market_cap)
    bank_count += 1

    # Logic to determine min value and associated key
    if minimum_value == 0:
        minimum_value = market_cap
        minimum_key = bank_name
    elif market_cap < minimum_value:
        minimum_value = market_cap
        minimum_key = bank_name

    # Logic to determine max value and associated key
    if market_cap > maximum_value:
        maximum_value = market_cap
        maximum_key = bank_name

    # Group banks by categories of market caps
    if market_cap >= 300:
        mega_caps.append(bank_name)
    elif market_cap >= 10 and market_cap < 300:
        large_caps.append(bank_name)
    elif market_cap >= 2 and market_cap < 10:
        mid_caps.append(bank_name)
    elif market_cap < 2:
        small_caps.append(bank_name)
# Calculate average market cap of banks in the dictionary
avg_market_cap = round(total_market_cap / bank_count, 2)

# Print the metrics
print(f"Total Market Capitalization: {total_market_cap}")
print(f"Total Numer of Banks: {bank_count}")
print(f"Average Market Capitalization: {avg_market_cap}")
print(f"Largest Bank: {maximum_key}")
print(f"Smallest Bank: {minimum_key}")
print("------------------------------------------------")
print(f"Mega Cap Banks: {mega_caps}")
print(f"Large Cap Banks: {large_caps}")
print(f"Mid Cap Banks: {mid_caps}")
print(f"Small Cap Banks: {small_caps}")

Name: JP Morgan Chase | Market Cap: 327
Name: Bank of America | Market Cap: 302
Name: Citigroup | Market Cap: 170
Name: Wells Fargo | Market Cap: 273
Name: Goldman Sachs | Market Cap: 87
Name: Morgan Stanley | Market Cap: 72
Name: U.S. Bancorp | Market Cap: 83
Name: TD Bank | Market Cap: 108
Name: PNC Financial Services | Market Cap: 67
Name: Capital One | Market Cap: 47
Name: FNB Corporation | Market Cap: 4
Name: First Hawaiian Bank | Market Cap: 3
Name: Ally Financial | Market Cap: 12
Name: Republic Bancorp | Market Cap: 0.97
Name: American Express | Market Cap: 33
Total Market Capitalization: 3176
Total Numer of Banks: 30
Average Market Capitalization: 105.87
Largest Bank: JP Morgan Chase
Smallest Bank: Republic Bancorp
------------------------------------------------
Mega Cap Banks: ['JP Morgan Chase', 'Bank of America']
Large Cap Banks: ['Citigroup', 'Wells Fargo', 'Goldman Sachs', 'Morgan Stanley', 'U.S. Bancorp', 'TD Bank', 'PNC Financial Services', 'Capital One', 'Ally Financial', 'American Express']
Mid Cap Banks: ['FNB Corporation', 'First Hawaiian Bank']
Small Cap Banks: ['Republic Bancorp']

## Nesting

In [98]:
# List of Dicts
ceo_nested_dict = [
    {
        "name": "Warren Buffet",
        "age": 88,
        "occupation": "CEO of Berkshire Hathaway"
    },
    {
        "name": "Jeff Bezos",
        "age": 55,
        "occupation": "CEO of Amazon"
    },
    {
        "name": "Harry Markowitz",
        "age": 91,
        "occupation": "Professor of Finance"
    }
]

# Retrieve second entry
second_entry = ceo_nested_dict[1]
second_entry

ceo_nested_dict[1]['name']

# # Retrieve name, age, and occupation of the second dict entry
# second_entry_name = ceo_nested_dict[1]["name"]
# second_entry_age = ceo_nested_dict[1]["age"]
# second_entry_occupation = ceo_nested_dict[1]["occupation"]

# # Print results to the screen
# print(f"The second entry in ceo_nested_dict is {second_entry_name}, a {second_entry_age} year old {second_entry_occupation}.")

'Jeff Bezos'

In [44]:
# Dict
stocks_dict = {
    "APPL": 101.32,
    "MU": 43.4,
    "AMD": 23.12,
    "TWTR": 25
}

# Dictionary of Lists
stocks_nested_list = {
    "APPL": ["Apple", 101.32, "NASDAQ", 937.7],
    "MU": ["Micron Technology", 32.12, "NASDAQ", 48.03],
    "AMD": ["Advanced Micro Devices", 23.12, "NASDAQ", 29.94],
    "TWTR": ["Twitter", 34.40, "NASDAQ", 26.42]
}

# Retrieve entry for APPL
appl_entry = stocks_nested_list["APPL"]

# Retrieve name, stock_price, and exchange for APPL entry
appl_name = stocks_nested_list["APPL"][0]
appl_stock_price = stocks_nested_list["APPL"][1]
appl_exchange = stocks_nested_list["APPL"][2]

# Print results to screen
print(f"APPL ticker stands for {appl_name}. APPL stock price is currently {appl_stock_price}, and it is available on {appl_exchange}.")

APPL ticker stands for Apple. APPL stock price is currently 101.32, and it is available on NASDAQ.

## Students Nesting

In [46]:
# Dictionary of List of Lists
# Key: Stock Ticker | Value: List of Records
# Record: Date, Open, High, Low, Close
historical_stock_data = {
    "AAPL": [
        ["04-17-2019", 199.54, 203.38, 198.61, 203.13],
        ["04-18-2019", 199.46, 201.37, 198.56, 199.25],
        ["04-19-2019", 198.58, 199.85, 198.01, 199.23],
        ["04-20-2019", 199.20, 200.14, 196.21, 198.87],

    ],
    "MU": [
        ["04-17-2019", 43.20, 43.53, 42.79, 43.40],
        ["04-18-2019", 43.36, 44.05, 42.76, 43.15],
        ["04-19-2019", 42.26, 42.93, 42.08, 42.76],
        ["04-20-2019", 42.17, 42.23, 41.20, 41.82],

    ],
    "AMD": [
        ["04-17-2019", 27.60, 27.88, 27.34, 27.68],
        ["04-18-2019", 28.21, 28.27, 27.22, 27.49],
        ["04-19-2019", 27.72, 28.18, 27.49, 27.93],
        ["04-20-2019", 27.80, 27.84, 26.96, 27.33],

    ],
    "TWTR": [
        ["04-17-2019", 34.67, 34.86, 34.32, 34.40],
        ["04-18-2019", 34.73, 34.90, 34.20, 34.48],
        ["04-19-2019", 34.84, 34.99, 34.23, 34.46],
        ["04-20-2019", 34.38, 35.03, 34.34, 34.71],

    ]
}

# Dictionary of Dictionary
# Key: Stock Ticker | Value: Dictionary
new_records = {
    "AAPL": {
        "date": "04-21-2019",
        "open": 200.85,
        "high": 201.00,
        "low": 198.44,
        "close": 198.95
    },
    "MU": {
        "date": "04-21-2019",
        "open": 42.85,
        "high": 43.20,
        "low": 41.81,
        "close": 42.01
    },
    "AMD": {
        "date": "04-21-2019",
        "open": 28.21,
        "high": 28.38,
        "low": 27.66,
        "close": 27.85
    },
    "TWTR": {
        "date": "04-21-2019",
        "open": 34.67,
        "high": 34.83,
        "low": 34.11,
        "close": 34.37
    }
}

# Set each ticker's new record: date, open, high, low, close
new_aapl_record = [new_records['AAPL']['date'], new_records['AAPL']['open'], new_records['AAPL']['high'], new_records['AAPL']['low'], new_records['AAPL']['close']]
new_mu_record = [new_records['MU']['date'], new_records['MU']['open'], new_records['MU']['high'], new_records['MU']['low'], new_records['MU']['close']]
new_amd_record = [new_records['AMD']['date'], new_records['AMD']['open'], new_records['AMD']['high'], new_records['AMD']['low'], new_records['AMD']['close']]
new_twtr_record = [new_records['TWTR']['date'], new_records['TWTR']['open'], new_records['TWTR']['high'], new_records['TWTR']['low'], new_records['TWTR']['close']]

# Choice 1: Add a new round of entries to the 'historical_stock_data' dictionary
historical_stock_data['AAPL'].append(new_aapl_record)
historical_stock_data['MU'].append(new_mu_record)
historical_stock_data['AMD'].append(new_amd_record)
historical_stock_data['TWTR'].append(new_twtr_record)
#print(historical_stock_data)

# Choice 2: Add a new round of entries via for loop to the 'historical_stock_data' dictionary
for ticker, ticker_data in new_records.items():
    # Set the new record to be added in list format
    record = [ticker_data['date'], ticker_data['open'], ticker_data['high'], ticker_data['low'], ticker_data['close']]
    # Append the new record to the historical_stock_data dictionary
    historical_stock_data[ticker].append(record)

# Print out the modified 'historical_stock_data' dictionary
print(historical_stock_data)

{'AAPL': [['04-17-2019', 199.54, 203.38, 198.61, 203.13], ['04-18-2019', 199.46, 201.37, 198.56, 199.25], ['04-19-2019', 198.58, 199.85, 198.01, 199.23], ['04-20-2019', 199.2, 200.14, 196.21, 198.87], ['04-21-2019', 200.85, 201.0, 198.44, 198.95], ['04-21-2019', 200.85, 201.0, 198.44, 198.95]], 'MU': [['04-17-2019', 43.2, 43.53, 42.79, 43.4], ['04-18-2019', 43.36, 44.05, 42.76, 43.15], ['04-19-2019', 42.26, 42.93, 42.08, 42.76], ['04-20-2019', 42.17, 42.23, 41.2, 41.82], ['04-21-2019', 42.85, 43.2, 41.81, 42.01], ['04-21-2019', 42.85, 43.2, 41.81, 42.01]], 'AMD': [['04-17-2019', 27.6, 27.88, 27.34, 27.68], ['04-18-2019', 28.21, 28.27, 27.22, 27.49], ['04-19-2019', 27.72, 28.18, 27.49, 27.93], ['04-20-2019', 27.8, 27.84, 26.96, 27.33], ['04-21-2019', 28.21, 28.38, 27.66, 27.85], ['04-21-2019', 28.21, 28.38, 27.66, 27.85]], 'TWTR': [['04-17-2019', 34.67, 34.86, 34.32, 34.4], ['04-18-2019', 34.73, 34.9, 34.2, 34.48], ['04-19-2019', 34.84, 34.99, 34.23, 34.46], ['04-20-2019', 34.38, 35.03, 34.34, 34.71], ['04-21-2019', 34.67, 34.83, 34.11, 34.37], ['04-21-2019', 34.67, 34.83, 34.11, 34.37]]}

In [47]:
# Initialize 'results' dictionary to hold weekly change of each ticker
results = {}

# Calculate the weekly change of each stock ticker
for ticker, ticker_data in historical_stock_data.items():

    # Set closing prices of first and last records of each stock ticker
    ending_week_close = ticker_data[-1][4]
    beginning_week_close = ticker_data[0][4]

    # Calculate weekly change per stock ticker
    ticker_weekly_change = round((ending_week_close - beginning_week_close) / beginning_week_close * 100, 2)
    print(ticker_weekly_change)

    # Set the weekly change for every stock ticker in the 'results' dictionary
    results[ticker] = ticker_weekly_change

# Print out 'results' dictionary
print(results)

-2.06
-3.2
0.61
-0.09
{'AAPL': -2.06, 'MU': -3.2, 'AMD': 0.61, 'TWTR': -0.09}

## Functions

In [99]:
# Define a main function that prints "Greetings!" to the console
def main():
    print("Greetings!")

In [100]:
main()

Greetings!

In [101]:
main()

Greetings!

In [102]:
# Define a main function that accepts a string argument
def main(stock_ticker):
    print(stock_ticker + " is booming right now!")

In [104]:
main("GOOG")

GOOG is booming right now!

In [106]:
# Define a calculate_market_cap function, and then call it
def calculate_market_cap(market_price, number_of_shares):
    cap = market_price * number_of_shares

    return cap

stock_ticker = "SBUX"
market_price = 76.06
number_of_shares = 1243600000

market_cap = calculate_market_cap(market_price, number_of_shares)
print(f"{stock_ticker} Market Capitalization: {market_cap}")
print(f"Data type of market_cap variable is: {type(market_cap)}")

SBUX Market Capitalization: 94588216000.0
Data type of market_cap variable is: <class 'float'>

In [109]:
# Capture function output and print output value and data type
def calculate_market_cap(market_price, number_of_shares):
    cap = market_price * number_of_shares

    return cap

market_price = 76.06
number_of_shares = 1243600000

market_cap = calculate_market_cap(market_price, number_of_shares)
print(f"Market Capitalization: {market_cap}")
print(f"Data type of market_cap variable is: {type(market_cap)}")

Market Capitalization: 94588216000.0
Data type of market_cap variable is: <class 'float'>

## Students Functions

In [111]:
# Declare a variable beginning_balance as a float
beginning_balance = 29000.00

# Declare a variable ending_balance as float
ending_balance = 45000.10

# Declare a variable years as an int
years = 1.0

# Define a function called calculate_compound_growth_rate with three arguments: beginning_balance, ending_balance, years. Function should output growth_rate.
def calculate_compound_growth_rate(beginning_balance, ending_balance, years):
    growth_rate = (ending_balance / beginning_balance)**(1/years) - 1
    return growth_rate

# Call calculate_compound_growth_rate using beginning_balance, ending_balance, and years. Capture as year_one_growth.
year_one_growth = calculate_compound_growth_rate(beginning_balance, ending_balance, years)

# Update beginning_balance and ending balance for year two, and then execute calculate_compound_growth_rate and capture as year_two_growth.
beginning_balance = 45000.10
ending_balance = 47000.00
years = 1
year_two_growth = calculate_compound_growth_rate(beginning_balance, ending_balance, years)

# Update beginning_balance and ending balance for year three, and then execute calculate_compound_growth_rate and capture as year_three_growth.
beginning_balance = 47000.00
ending_balance = 48930.00
years = 1
year_three_growth = calculate_compound_growth_rate(beginning_balance, ending_balance, years)

# Use round function to round variables
year_one_growth_rnd = round(year_one_growth,2)
year_two_growth_rnd = round(year_two_growth,2)
year_three_growth_rnd = round(year_three_growth,2)

print(f"Compound Annual Growth Rate for 2016: {year_one_growth_rnd}%")
print(f"Compound Annual Growth Rate for 2016: {year_two_growth_rnd}%")
print(f"Compound Annual Growth Rate for 2016: {year_three_growth_rnd}%")

Compound Annual Growth Rate for 2016: 0.55%
Compound Annual Growth Rate for 2016: 0.04%
Compound Annual Growth Rate for 2016: 0.04%

In [56]:
# Challenge
# Create a global, empty list
growth_rates = list()

# Define a function called
def calculate_compound_growth_rate_list(beginning_balance, ending_balance, years):
    growth_rate = (ending_balance / beginning_balance)**(1/years) - 1

    # Populate growth_rates
    growth_rates.append(growth_rate)

# Populate growth_rates list with 2016 values by calling calculate_compound_growth_rate_list.
beginning_balance = 29000.00
ending_balance = 45000.10
calculate_compound_growth_rate_list(beginning_balance, ending_balance, years)

# Populate growth_rates list with 2017 values by calling calculate_compound_growth_rate_list.
beginning_balance = 45000.10
ending_balance = 47000.00
calculate_compound_growth_rate_list(beginning_balance, ending_balance, years)

# Populate growth_rates list with 2018 values by calling calculate_compound_growth_rate_list.
beginning_balance = 47000.00
ending_balance = 48930.00
calculate_compound_growth_rate_list(beginning_balance, ending_balance, years)

# Print growth_rates list
print("Growth rates: ", growth_rates)

Growth rates:  [0.5517275862068964, 0.04444212346194787, 0.04106382978723411]